<a href="https://colab.research.google.com/github/jungddddd/ML-/blob/main/2)%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EB%AA%A8%EB%8D%B805_logistic%2C_lasso%2C_ridge%2C_elasticnet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 로지스틱 회귀분석

- #### 대출을 해줄 수 있는지 여부 판단
    - target : Personal Loan
    
    - 데이터셋 : https://www.kaggle.com/iconoclash/personal-loan-dataset-binary-classification

In [ ]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score,roc_auc_score,roc_curve

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

ploan=pd.read_csv("/Personal Loan.csv")
ploan.head()

Mounted at /content/drive

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [ ]:
ploan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  2500 non-null   int64
 1   Age                 2500 non-null   int64
 2   Experience          2500 non-null   int64
 3   Income              2500 non-null   int64
 4   ZIP Code            2500 non-null   int64
 5   Family              2500 non-null   int64
 6   CCAvg               2500 non-null   float64
 7   Education           2500 non-null   int64
 8   Mortgage            2500 non-null   int64
 9   Personal Loan       2500 non-null   int64
 10  Securities Account  2500 non-null   int64
 11  CD Account          2500 non-null   int64
 12  Online              2500 non-null   int64
 13  CreditCard          2500 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 273.6 KB

In [ ]:
#의미없는 변수제거
ploan_processed=ploan.drop(['ID','ZIP Code'],axis=1,inplace=False)

In [ ]:
ploan_processed.head()         #잘제거되었는지 확인

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

In [ ]:
ploan_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 2500 non-null   int64
 1   Experience          2500 non-null   int64
 2   Income              2500 non-null   int64
 3   Family              2500 non-null   int64
 4   CCAvg               2500 non-null   float64
 5   Education           2500 non-null   int64
 6   Mortgage            2500 non-null   int64
 7   Personal Loan       2500 non-null   int64
 8   Securities Account  2500 non-null   int64
 9   CD Account          2500 non-null   int64
 10  Online              2500 non-null   int64
 11  CreditCard          2500 non-null   int64
dtypes: float64(1), int64(11)
memory usage: 234.5 KB

In [ ]:
ploan_processed=sm.add_constant(ploan_processed,has_constant='add')
ploan_processed.head()

,const,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1.0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,1.0,45,19,34,3,1.5,1,0,0,1,0,0,0
2,1.0,39,15,11,1,1.0,1,0,0,0,0,0,0
3,1.0,35,9,100,1,2.7,2,0,0,0,0,0,0
4,1.0,35,8,45,4,1.0,2,0,0,0,0,0,1

- #### 데이터 분리

In [ ]:
feature_columns=list(ploan_processed.columns.difference(["personal Loan"]))
X=ploan_processed[feature_columns] #personalloan제외한 데이터 넣어주기
y=ploan_processed['Personal Loan']       #대출여부:1 or 0

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(X,y,train_size=0.7,test_size=0.3,random_state=102)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(1750, 13) (750, 13) (1750,) (750,)

- #### 로지스틱회귀모형 모델링

- #### 임계값에 따른 성능지표 비교

- #### Experience, Mortgage 변수 제거

### 회귀계수 축소법

- #### Lasso

- #### Ridge

- #### ElasticNet

- alpha 값에 따른 정확도 변화